- name: cleanup unused docker resources (volumes, images, networks)
  hosts: all
  become: yes
  become_user: root
  become_method: sudo

  tasks:
    - name: prune unused Docker data
      shell: docker system prune -a --volumes -f
      register: prune_result

    - name: display prune results
      debug:
        msg: "{{ prune_result.stdout_lines }}"
